/* font */
@font-face {
  font-family: "Cafe24SsurroundAir";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/Cafe24SsurroundAir.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

.fontCafe > * {
  font-size: medium;
  font-family: "Cafe24SsurroundAir";
}

.fontS{
  font-size: small;
  font-family: "Cafe24SsurroundAir";
}

.fontL{
  font-size: x-large;
  font-family: "Cafe24SsurroundAir";
}

.fontXL{
  font-weight: bold;
  font-family: "Cafe24SsurroundAir";
}


/* //////////////////////////////////////////////////////// */
/* 어디에 쓰이는지 적어줄사람~? */
#bg {
  /* background-color: blueviolet; */
  margin-left: 3vmax;
  margin-right: 5vmax;
}

.angled-gradient {
  background-color: linear-gradient(70deg, blue, pink);
}

.center{
  display: flex;
  justify-content: center;
  align-content: center;
}

.footerMargin{
  margin-left: 15vw;
  margin-right: 15vw;
}

.dotLine{
    border: dotted 3px rgb(107, 159, 255);
}
/* //////////////////////////////////////////////////////// */

/* 각 페이지 버튼 */
.btn {
  font-weight: bold;
}
.btnPrimary{
  color: #3a539b;
  border-color: #3a539b;
}
.btnPrimary:hover{
  background-color: #3a539b;
}
.btnOutline{
  background-color: #3a539b !important;
  /* border: 1px solid #3a539b; */
  color: white !important;
}
.btnOutline:hover{
  background-color: #446cb3 !important;
}


/* mypage */
.mypageTitle {
  text-align: left;
  margin-left: 8vmax;
  color: black;
}
.mypageForm {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
}
.input-group>.justify-content-center{
  font-weight: bold
}
.deleteUser{
  background-color: #c0392b !important;
  border: 1px solid #c0392b;
  font-weight: bold
}

/*----------chat---------*/







/*----------font---------*/
@font-face {
  font-family: "Cafe24SsurroundAir";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/Cafe24SsurroundAir.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

.fontCafe {
  font-size: medium;
  font-family: "Cafe24SsurroundAir";
}

.fontS{
  font-size: small;
  font-family: "Cafe24SsurroundAir";
}

.basicFont{
  font-family: "Cafe24SsurroundAir";
}

.fontL{
  font-size: x-large;
  font-family: "Cafe24SsurroundAir";
}

/* signup */
.signupTitle{
  margin-top: 3rem;
  font-size: 2.5rem;
}


